.navbar{
    background-color: #473320 !important;
}
.justify-between{
    justify-content: space-between;
}
.link{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 2em;
}
.link:visited{
    text-decoration: none;
}
.flex-nav{
    display: flex!important;
    align-items: center;
}
.shopping-icon{
    text-decoration: none;
    color: white;
}
.shopping-icon :is(:visited,:hover){
    text-decoration: none;
    color: white;
}